apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ namespace }}-ingress
  namespace: {{ namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: {{ host }}
      http:
        paths:
          - path: {{ backend_path }}
            pathType: Prefix
            backend:
              service:
                name: {{ backend_name }}
                port:
                  number: {{ backend_port }}
          - path: {{ frontend_path }}
            pathType: Prefix
            backend:
              service:
                name: {{ frontend_name }}
                port:
                  number: {{ frontend_port }}
