apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ project }}
    app.kubernetes.io/version: {{ version }}
    app.kubernetes.io/managed-by: gmk
